.container
	h3 Client Details
	form
		.row.col-md-5
			form-group 
				label Id 
				input.form-control(type="number", disabled, value="{{selectedClient.id}}")
			form-group
				label Name
				input.form-control(type="text", value="{{selectedClient.clientName}}", ng-bind="update.name")
			form-group
				label Level of Interest
				input.form-control(type="number", value="{{selectedClient.levelOfInterest}}", ng-bind="update.levelOfInterest")
			form-group
				label Note
				input.form-control(type="text", value="{{selectedClient.note}}", ng-bind="update.note")
		.row.col-md-2
		.row.col-md-5
			form-group
				label Group
				p {{selectedClient.groupName}}
			form-group
				label Industry
				p {{selectedClient.industry}}
			form-group 
				label Area
				p {{selectedClient.area + ' ' + selectedClient.location + ' ' + selectedClient.county}}
