.container(ng-controller="mvClientViewCtrl")
	h3 Client Details
	.row.col-md-6
		p Id: {{currentRecord.id}}
		p Name: {{currentRecord.name}}
		p Level of Interest: {{currentRecord.levelOfInterest}}
		p Note: {{currentRecord.note}}
	.row.col-md-6
		p Group: {{currentRecord.groupName}}
		p Industry: {{currentRecord.industry}}
		p Area: {{currentRecord.locationName}}
			
			
