.container
	.row
		h1.page-header Clients
			| &nbsp
			button.btn.btn-primary(ng-click="add()") New Client
	//.row
		//p Debug: {{recordCopy | json}}
	div(ng-if="!adding")
		form.form-inline
			.form-group
				input.form-control(type="text", placeholder="Search...", ng-model="searchText")
			button.btn.btn-default(type="button", ng-click="searchText = ''") Clear
			br
		
		table.table.table-striped.table-hover.table-responsive
			thead
				th Id
				th Name
				th LoI
				th Note
				th Group
				th Industry
				th Location
				th
				th
			tbody
				tr(ng-repeat="record in records | filter:searchText")
					td {{record.id}}
					td 
						span(ng-if="!record.editing") 
							| {{record.name}}
						span(ng-if="record.editing")
							input#name.input-sm.small-grid-input(type="text", ng-model="record.name", required, placeholder="Name...")
					td 
						span(ng-if="!record.editing") 
							| {{record.levelOfInterest}}
						span(ng-if="record.editing")
							input#loi.input-sm.small-grid-number(type="number", ng-model="record.levelOfInterest", required)
					td 
						span(ng-if="!record.editing") 
							| {{record.note}}
						span(ng-if="record.editing")
							input#note.input-sm.small-grid-input(type="text",  ng-model="record.note", placeholder="Note...")
					td 
						span(ng-if="!record.editing") 
							| {{record.selectedGroup.name}}
						span(ng-if="record.editing")
							select(ng-model="record.selectedGroup", ng-options="cgroup.name for cgroup in groups track by cgroup.id")
								option(value="") -- choose --
							//p selected: {{ record.selectedGroup }}
					td 
						span(ng-if="!record.editing") 
							| {{ record.selectedIndustry.name }}
						span(ng-if="record.editing")
							select(ng-model="record.selectedIndustry", ng-options="industry.name for industry in industries track by industry.id")
								option(value="") -- choose --
							//p selected: {{ record.selectedIndustry }}
					td 
						span(ng-if="!record.editing") 
							| {{ record.selectedLocation.name }}
						span(ng-if="record.editing")
							select(ng-model="record.selectedLocation", ng-options="loc.name for loc in locations track by loc.id")
								option(value="") -- choose --
							//p selected: {{ record.selectedLocation }}
					td(ng-if="!record.editing")
						button.btn.btn-sm.btn-danger(ng-click="delete(record)") Delete
					td(ng-if="!record.editing")
							button.btn.btn-sm.btn-primary(ng-click="edit(record)") Edit
					td(ng-if="record.editing")
							button.btn.btn-sm.btn-default(ng-click="cancel(record)") Cancel
					td(ng-if="record.editing")
							button.btn.btn-sm.btn-success(ng-click="update(record)", type="submit") Save
	
	div(ng-if="adding", ng-include="'/partials/client/client-add'")
		
	
