.container(ng-controller="mvClientAddCtrl")
	h3 Client Details
	form
		.row.col-md-5
			form-group
				label Name
				input.form-control(type="text", ng-model="name", required)
			form-group
				label Level of Interest
				input.form-control(type="number", ng-model="levelOfInterest")
			form-group
				label Note
				input.form-control(type="text", ng-model="note")
		.row.col-md-2
		.row.col-md-5
			form-group
				label Group
				select.form-control(ng-model="selectedGroup", ng-options="cgroup.name for cgroup in groups")
					option(value="") -- choose --
				p selected: {{ selectedGroup }}
			form-group
				label Industry
				select.form-control(ng-model="selectedIndustry", ng-options="industry.name for industry in industries")
					option(value="") -- choose --
				p selected: {{ selectedIndustry }}
			form-group 
				label Location
				select.form-control(ng-model="selectedLocation", ng-options="loc.name for loc in locations")
					option(value="") -- choose --
				p selected: {{ selectedLocation }}
		.row.col-md-12
			button.btn.btn-success.pull-right(ng-click="createRecord()", type="submit") Add Client
			button.btn.btn-default.pull-right(ng-click="cancel()", type="button") Cancel
