.container.modalWidth(ng-controller="mvProductMeasureAddCtrl")
	h3 Measure
	p#desc
	p#packsize
	form
		.form-group 
			label Type
			select.form-control(ng-model="selectedMeasure", ng-options="measure.name for measure in measures" required)
				option(value="") -- choose --
		.form-group
			label Value
			input.form-control(type="number", ng-model="value" step="any" min="0" required)
		.form-group
			label Value measured in...
			select.form-control(ng-model="selectedValueMeasure", ng-options="vmeasure.name for vmeasure in valueMeasures" required)
		.form-group
			label Unit of Sale
			input.form-control(type="number", ng-model="unitOfSale" step="any" min="0" required)
		.form-group
			button.btn.btn-success.pull-right(ng-click="create()", type="submit") Save
			button.btn.btn-default.pull-right(ng-click="cancel()", type="button") Cancel
