.container.modalWidth-big(ng-controller="mvProductWidgetCtrl")
	.row
		h1.page-header Products
		//p Debug: current page: {{curentPage}}
		//p pages: {{numPages}}
		//p Product Count: {{allRecords}}
		//p Current page : {{currentPage}}
		form.form-inline
			.form-group
				input.form-control(type="text", placeholder="Search...", ng-model="searchText")
			button.btn.btn-default(type="button", ng-click="resetSearch()") Clear
			br
		
		pagination.pagination-sm(total-items="totalItems" ng-model="currentPage" max-size="8" boundary-links="true" rotate="true" num-pages="numPages" items-per-page="entryLimit")
		div.modalListHeight
			table.table.table-striped.table-hover.table-responsive
				thead
					//th Id
					th Code
					th Description
					th Category
					th Packsize
					//th Unit Of Sale
					//th Measure Value
					//th Measure Type
					th Note
					th Added
					th
				tbody
					tr(ng-repeat="record in records | filter: searchText | filter: paginate")
						//td {{record.id}}
						td {{record.productCode}}
						td {{record.details.description}}
						td {{record.productCategoryId}}
						td {{record.details.packsize}}
						//td {{record.unitOfSale}}
						//td {{record.measureValue}}
						//td {{record.measureTypeId}}
						td {{record.note}}
						td {{record.added | date}}
						td
							button.btn.btn-sm.btn-primary(ng-click="selectProduct(record)") Select
		//pagination.pagination-sm(total-items="records.length" ng-model="currentPage" max-size="5" boundary-links="true" rotate="true" num-pages="numPages" items-per-page="500")
