.container
	.row
		h1.page-header Products
	//.row
		//p Debug: {{recordCopy | json}}
	div 
		form.form-inline
			.form-group
				input.form-control(type="text", placeholder="Search...", ng-model="searchText")
			button.btn.btn-default(type="button", ng-click="searchText=''") Clear
			br
		pagination.pagination-sm(total-items="totalItems" ng-model="currentPage" max-size="8" boundary-links="true" rotate="true" num-pages="numPages" items-per-page="entryLimit")
		div
			table.table.table-striped.table-hover.table-responsive
				thead
					th Id
					th Code
					//th CategoryId
					th Supplier
					th Description
					th Packsize
					//th unitOfSale
					//th measureValue
					//th measureTypeId
					th Added
					th Note
					th
					th
				tbody
					tr(ng-repeat="record in records | filter: searchText | filter:paginate")
						td {{record.id}}
						td 
							span(ng-if="!record.editing") 
								| {{record.productCode}}
							span(ng-if="record.editing")
								input#name.input-sm.small-grid-input(type="text", ng-model="record.productCode", required)
						td {{record.supplier}}
						
						td 
							span(ng-if="!record.editing") 
								| {{record.desc}}
							span(ng-if="record.editing")
								input#note.input-sm.small-grid-input(type="text",  ng-model="record.desc")
						td 
							span(ng-if="!record.editing") 
								| {{record.packsize}}
							span(ng-if="record.editing")
								input#note.input-sm.small-grid-input(type="text",  ng-model="record.packsize")
									
						td {{record.added | date}}
						
						td 
							span(ng-if="!record.editing") 
								| {{record.note}}
							span(ng-if="record.editing")
								input#note.input-sm.small-grid-input(type="text",  ng-model="record.note")
						td(ng-if="!record.editing")
							button.btn.btn-sm.btn-danger(ng-click="delete(record)") Delete
						td(ng-if="!record.editing")
								button.btn.btn-sm.btn-primary(ng-click="edit(record)") Edit
						td(ng-if="record.editing")
								button.btn.btn-sm.btn-default(ng-click="cancel(record)") Cancel
						td(ng-if="record.editing")
								button.btn.btn-sm.btn-success(ng-click="update(record)") Save
