.container(ng-controller="mvCCAddCtrl")
	h3 CC Details
	form
		.row
			form-group 
				label Client
				select.form-control(ng-model="selectedClient", ng-options="client.name for client in clients")
					option(value="") -- choose --
				p selected: {{ selectedClient }}
			form-group
				label Note
				input.form-control(type="text", ng-model="note")
				
		.row.col-md-12
			button.btn.btn-success.pull-right(ng-click="createRecord()", type="submit") Create
			button.btn.btn-default.pull-right(ng-click="cancel()", type="button") Cancel
