.container
	.row
		h1.page-header Cost Comparisons
			| &nbsp
			button.btn.btn-primary(ng-click="add()") New CC
	//.row
		//p Debug: {{recordCopy | json}}		
	div(ng-if="!adding")
		form.form-inline
			.form-group
				input.form-control(type="text", placeholder="Search...", ng-model="searchText")
			button.btn.btn-default(type="button", ng-click="searchText = ''") Clear
			br
		
		table.table.table-striped.table-hover.table-responsive
			thead
				th Id
				th Client
				th Created By
				th Created At
				th Notes
				th
			tbody
				tr(ng-repeat="record in records | filter:searchText | orderBy:'-id'")
					td {{record.id}}
					td 
						span(ng-if="!record.editing") 
							| {{getClientName(record.clientId)}}
						span(ng-if="record.editing")
							select(ng-model="record.selectedClient", ng-options="client.name for client in clients")
								option(value="") -- choose --
					td
						span(ng-if="!record.editing")
							| {{record.userId}}
						span(ng-if="record.editing")
							select(ng-model="record.selectedUser", ng-options="user.name for user in users")
								option(value="") -- choose --
					td {{record.date | date}}
						//span(ng-if="!record.editing") 
							//| {{record.date | date}}
						//span(ng-if="record.editing")
							//input.input-sm.small-grid-input(type="date", ng-model="record.date", require)
					td
						span(ng-if="!record.editing") 
							| {{record.note}}
						span(ng-if="record.editing")
							input.input-sm.small-grid-input(type="text", ng-model="record.note")
					td(ng-if="!record.editing")
						button.btn.btn-sm.btn-danger(ng-click="delete(record)") Delete
						button.btn.btn-sm.btn-info(ng-click="edit(record)") Edit
						a.btn.btn-sm.btn-primary(ng-href="/ccs/{{record.id}}/ccmanager", type="button") Manage
					td(ng-if="record.editing")
							button.btn.btn-sm.btn-default(ng-click="cancel(record)") Cancel
							button.btn.btn-sm.btn-success(ng-click="update(record)") Save
					//td(ng-if="record.editing")		
					//td(ng-if="!record.editing")
					//td(ng-if="record.editing")

	div(ng-if="adding", ng-include="'/partials/ccs/cc-add'")
