.container
	h1.page-header CC Details
		
		a.btn.btn-primary.btn-lg.pull-right(ng-href="/ccs/{{ccId}}/productmatcher" type="button") Product Matcher
		| &nbsp
		button.btn.btn-primary.btn-lg.pull-right(data-toggle="modal" data-target="#itemsInCCModal" type="button") Export 
			span.glyphicon.glyphicon-floppy-save
		
	div.row.well.well-sm
		.col-md-6
			p
				b Client: 
				span {{ getClientName(currentCC.clientId)}}
			p
				b Created at: 
				span {{currentCC.date | date}}
			p
				b Note: 
				span {{currentCC.note}}
		.col-md-3
			p
				b Invoices: 
				span {{invoicesInCC}}
			p
				b Products: 
				span {{productsInCC}}
			p
				b SomeStats
		.col-md-3
			p
				b Total Value:
			p
				b OtherTotal
			p
				b OtherTotal2
	div.row(ng-include="'/partials/invoice/invoice-add'")
	h4 Invoices
	div.row(ng-include="'/partials/invoice/invoice-list'")
	
	div.modal.fade#itemsInCCModal
		div.modal-dialog.modal-lg
			div.modal-content
				div.modal-header
					button.close(type="button" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
					h2 Export Product List
					br
				div.modal-body
					.container.modalIncludeWidth-big(ng-include="'/partials/invoiceItem/invoiceItem-inCC'")
	
