.container
	.row
		p Debug: {{recordCopy | json}}
	div
		form.form-inline
			.form-group
				input.form-control(type="text", placeholder="Search...", ng-model="searchText")
			.form-group
				button.btn.btn-default(type="button", ng-click="searchText = ''") Clear
	div
		| &nbsp
		table.table.table-striped.table-hover.table-responsive
			thead
				th Id
				th Product
				th Date
				th Value
				th SourceTypeId
			tbody
				tr(ng-repeat="record in records | filter:searchText", ng-click="selectItem(record)", ng-class="{success: selected(record)}" )
					td {{record.id}}
					td {{record.description}}
					td {{record.dateFrom | date}}
					td {{record.value | number:2 }}
					td {{record.sourceType }}
					td
						button.btn.btn-sm.btn-danger(ng-click="delete(record)") Delete
