.container.widget.limitWidth(ng-controller="mvInvoiceItemListCtrl")
	//.row
		//p Debug: {{recordCopy | json}}
	form.form-inline
		.form-group
			input.form-control(type="text", placeholder="Search...", ng-model="searchText")
		.form-group
			button.btn.btn-default.form-control(type="button", ng-click="searchText = ''") Clear
		.form-group.pull-right
			label Invoice Total:
			| &nbsp
			| {{currentInvoiceTotal | number:2}}
				
	| &nbsp
	div.listHeight
		table.table.table-striped.table-hover.table-responsive
			thead
				th Code
				th Description
				th Packsize
				th Qty
				th Price
				th Total
				th
			tbody
				tr(ng-repeat="record in records | filter:searchText | filter : {invoiceId : $parent.invoiceId }")
					td {{record.product.productCode}}
					td {{record.description}}
					td {{record.packsize}}
					td {{record.qty}}
					td {{record.price | number:2}}
					td {{record.qty * record.price | number:2}}
					td
						button.btn.btn-sm.btn-danger(ng-click="delete(record)") Delete
