body {
  padding-top: 65px;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.navbar-form ul li a {
  padding-top: 7px;
}
.short-input {
  width: 100px;
}
.myspinner {
  background-color: #e8e8e8;
  color: #d80f0f;
}
.listHeight {
  height: 180px;
  overflow: auto;
}
.listHeight-sm {
  height: 150px;
  overflow: auto;
}
.listWidth-sm {
  width: 50%;
}
.widget {
  height: 300px;
}
.submenu {
  z-index: 0;
  top: 49px;
  padding: 10px;
  background-color: #e8e8e8;
}
.pageWithSubmenu {
  padding-top: 10px;
  margin-left: 19%;
  width: 80%;
  overflow: auto;
}
.longFormCtrl {
  width: 300px;
}
.fixed-pos {
  position: fixed;
}
.modalWidth-big {
  width: 700px;
}
.modalWidth {
  width: 500px;
}
.modalListHeight {
  height: 350px;
  overflow: auto;
}
.modalIncludeWidth-big {
  width: 750px;
  overflow: auto;
}
.modalIncludeWidth {
  width: 550px;
  overflow: auto;
}
td {
  vertical-align: center;
}
.limitWidthAndHeight {
  height: 350px;
  width: 550px;
  overflow: auto;
}
.limitWidth {
  width: 90%;
}
.limitedList {
  height: 200px;
  overflow: auto;
}
.small-grid-input {
  width: 150px;
}
.small-grid-number {
  width: 50px;
}
.toast-top-right {
  top: 70px;
}
.toast-success {
  background-color: #13987e;
}
.invoiceAddForm {
  min-height: 300px;
  height: 81%;
  position: fixed;
  top: 110px;
  left: 8px;
  padding-top: 10px;
  width: 18%;
  overflow: auto;
}
.angular-date-picker {
  position: absolute;
}
#image {
  transform-origin: top left; /* IE 10+, Firefox, etc. */
  -webkit-transform-origin: top left; /* Chrome */
  -ms-transform-origin: top left; /* IE 9 */
}
#image.rotate90 {
  transform: rotate(90deg) translateY(-100%);
  -webkit-transform: rotate(90deg) translateY(-100%);
  -ms-transform: rotate(90deg) translateY(-100%);
}
#image.rotate180 {
  transform: rotate(180deg) translate(-100%, -100%);
  -webkit-transform: rotate(180deg) translate(-100%, -100%);
  -ms-transform: rotate(180deg) translateX(-100%, -100%);
}
#image.rotate270 {
  transform: rotate(270deg) translateX(-100%);
  -webkit-transform: rotate(270deg) translateX(-100%);
  -ms-transform: rotate(270deg) translateX(-100%);
}
