extends ../includes/layout

block main-content
  .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    .container
      .navbar-header
        span(us-spinner="{radius:4, width:3, length: 10, left:'100px', className: 'myspinner', color:'#e8e8e8'}" spinner-key="spinner")
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/") One Cost
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          //li 
            //a(href="/") Dashboard
          li 
            a(href="/ccs") Cost Comparisons
          li 
            a(href="/") Reports
          li 
            a(href="/import") Import
          //li 
            //a(href="/compareProducts") Compare
            
          li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Forms 
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='/clients') Clients
                li
                  a(href='/clientgroups') Client Groups  
                li
                  a(href='/suppliers') Suppliers
                  
                li.divider
                li
                  a(href='/industries') Industries
                li
                  a(href='/locations') Locations
                li
                  a(href='/counties') Counties
                  
                li.divider
                li
                  a(href='/products') Products
          //li 
            //a(href="/") Settings
        div(ng-include="'/partials/account/navbar-login'")
  section.content
    div(ng-view)
  footer.container.text-center
    br
    p &copy; 2015 One Cost Ltd.
