.container
  table.table.table-striped.table-hover
    thead
      th Last Name
      th First Name
      th Email
      th
    tbody
      tr(ng-repeat="user in users")
        td 
          span(ng-if="!editing") 
            | {{user.lastName}}
          span(ng-if="editing")
            input(type="text" value="{{user.lastName}}" ng-bind="sname")
        td 
          span(ng-if="!editing") 
            | {{user.firstName}}
          span(ng-if="editing")
            input(type="text" value="{{user.firstName}}" ng-bind="fname")
        td
          span(ng-if="!editing") 
            | {{user.username}}
          span(ng-if="editing")
            input(type="text" value="{{user.username}}" ng-bind="uname")
        td
          button.btn.btn-primary(ng-click="edit()") Edit
          | &nbsp
          button.btn.btn-warning(ng-click="resetPass()") Reset Password
          | &nbsp
          button.btn.btn-danger(ng-click="delete(user.username)") Delete
