.listHeight-sm.limitWidth(ng-controller="mvMatchListCtrl")
	div.listHeight-sm
		| &nbsp
		table.table.table-striped.table-hover.table-responsive
			thead
				th Code
				th Description
				th Packsize
				th Qty
				th Price
				th Ratio
				th
			tbody
				tr(ng-repeat="record in records | filter:searchText", ng-click="selectItem(record)", ng-class="{success: selected(record)}" )
					td {{record.product.productCode}}
					td {{record.details.description}}
					td {{record.details.packsize}}
					td {{record.qty}}
					td {{record.price.value | number:2}}
					td ratio?
					td 
						button.btn.btn-sm.btn-danger(ng-click="delete(record)") Delete
