.container
	a.btn.btn-default(ng-href="/ccs/{{ccId}}/ccmanager/") Back to CC Manager
	h1 Product Matcher
		//
			select.form-control(ng-model="selectedProduct", ng-options="product.description for product in products")
			option(value="") -- Select a Product --
	.col-md-12
		.col-md-6
			h4 Products in CC
			div(ng-include="'/partials/productMatcher/invoiceItem-list-matcher'")
		.col-md-6
			div(ng-if="currentProduct")
				h4 Product info
				.col-md-6
					p Code: {{currentProduct.product.productCode}}
					p Description: {{currentProduct.description}}
					p Packsize: {{currentProduct.packsize}}
				.col-md-6
					p Quantity: {{currentProduct.qty}}
					p Price: {{currentProduct.price.value | number:2}}
					
	.col-md-12
		.col-md-6
			h4 Suggestions
			p List of suggested items here
		.col-md-6
			h4 Matched
			p List of Matched items here
			div(ng-include="'/partials/productMatcher/match-list'")
			
	.col-md-12
		div(ng-include="'/partials/productMatcher/product-finder'")
