div(ng-controller="mvProductFinderCtrl")
		h1.page-header Product Finder
		div.col-md-6
			form
				.form-group
					.radio
						label
							input(type="radio" checked ng-model="searchBy" value="desc")
							| Description
					.radio
						label
							input(type="radio" ng-model="searchBy" value="code")
							| Code
				.form-group
					input.form-control(type="text", placeholder="Search in database...", ng-model="searchDbText")
				button.btn.btn-primary.pull-right(type="submit" ng-click="findProduct()") Find!
		.col-md-12
			h4 Search in results
			form.form-inline
				.form-group
					input.form-control(type="text", placeholder="Search...", ng-model="searchText")
				button.btn.btn-default(type="button", ng-click="searchText=''") Clear
		.col-md-12
			pagination.pagination-sm(total-items="totalItems" ng-model="currentPage" max-size="8" boundary-links="true" rotate="true" num-pages="numPages" items-per-page="entryLimit")
			div.listHeight
				table.table.table-striped.table-hover.table-responsive
					thead
						th Supplier
						th Code
						th Description
						th Category
						th Packsize
						th Note
						th Added
						th
					tbody
						tr(ng-repeat="product in products | filter: searchText | filter: paginate")
							td {{product.name}}
							td {{product.productCode}}
							td {{product.description}}
							td {{product.productCategoryId}}
							td {{product.packsize}}
							td {{product.note}}
							td {{product.added | date}}
							td
								button.btn.btn-sm.btn-primary(ng-click="addMatch(product)") Select
		
