.container
	.row
		h1.page-header Locations
			| &nbsp
			button.btn.btn-primary(ng-click="add()") Add Location
	//.row
		//p Debug: {{recordCopy | json}}
		//p selected county: {{ selectedCounty }}
		
	div(ng-if="!adding")
		form.form-inline
			.form-group
				input.form-control(type="text", placeholder="Search...", ng-model="searchText")
			button.btn.btn-default(type="button", ng-click="searchText = ''") Clear
			br
		
		table.table.table-striped.table-hover.table-responsive
			thead
				th Id
				th Name
				th Note
				th County
				th
				th
			tbody
				tr(ng-repeat="record in records | filter:searchText")
					td {{record.id}}
					td 
						span(ng-if="!record.editing") 
							| {{record.name}}
						span(ng-if="record.editing")
							input#name.input-sm.small-grid-input(type="text", ng-model="record.name", required)
					td 
						span(ng-if="!record.editing") 
							| {{record.note}}
						span(ng-if="record.editing")
							input.input-sm.small-grid-input(type="text", ng-model="record.note", required)
					td 
						span(ng-if="!record.editing") 
							| {{ getCountyName(record.countyId) }}
						span(ng-if="record.editing")
							select(ng-model="record.selectedCounty", ng-options="county.name for county in counties")
								option(value="") -- choose --
							//p selected county: {{ record.selectedCounty }}
					td(ng-if="!record.editing")
						button.btn.btn-sm.btn-danger(ng-click="delete(record)") Delete
					td(ng-if="!record.editing")
							button.btn.btn-sm.btn-primary(ng-click="edit(record)") Edit
					td(ng-if="record.editing")
							button.btn.btn-sm.btn-default(ng-click="cancel(record)") Cancel
					td(ng-if="record.editing")
							button.btn.btn-sm.btn-success(ng-click="update(record)") Save
	
	div(ng-if="adding", ng-include="'/partials/location/location-add'")
		
	
