div(ng-include="'/partials/invoiceManager/manager-top'")
div(ng-include="'/partials/invoiceManager/manager-left'")
.container.pageWithSubmenu
	h1.page-header Invoice Manager
	div(ng-include="'/partials/invoiceItem/invoiceItem-list'")
	
	div(ng-include="'/partials/invoiceManager/manager-image'")

div.modal.fade#measureModal
	div.modal-dialog
		div.modal-content
			div.modal-header
				button.close(type="button" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				br
			div.modal-body
				// include here
				.container.modalWidth(ng-include="'/partials/product/product-measure-add'")

div.modal.fade#suppModal
	div.modal-dialog
		div.modal-content
			div.modal-header
				button.close(type="button" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				br
			div.modal-body
				// include here
				.container.modalWidth(ng-include="'/partials/supplier/supplier-add'")

div.modal.fade#productsModal
	div.modal-dialog.modal-lg
		div.modal-content
			div.modal-header
				button.close(type="button" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				br
			div.modal-body
				.container.modalIncludeWidth-big(ng-include="'/partials/product/product-list-widget'")
