nav.navbar.navbar-fixed-top.submenu(role="form")
  form.form-inline
    //span(us-spinner="{radius:4, width:3, length: 10, left:'195px'}" spinner-key="spinner" spinner-start-active="true" ng-if="loading")
    div.form-group
      a.btn.btn-default(ng-href="/ccs/{{ccId}}/ccmanager/") Back to CC Manager
      | &nbsp
    div.form-group
      button.btn.btn-default(data-toggle="modal" data-target="#suppModal" type="button") Add supplier
      | &nbsp
    div.form-group
      //label(for="suppId") Supplier
      | &nbsp
      select.form-control(ng-model="$parent.selectedSupplier", ng-options="supplier.name for supplier in suppliers" ng-disabled="$parent.detailsSet")
        option(value="") -- Select a Supplier --
      //p Debug: {{$parent.selectedSupplier}}
    div.form-group
      | &nbsp
      label(for="date") Invoice Date
      | &nbsp
      input.form-control(type="text" ng-model="$parent.invoiceDate" ng-disabled="$parent.detailsSet")
      //, value="{{invoiceDate | date}}
    div.form-group
      button.btn.btn-default(ng-click="toggleDatePicker()", ng-disabled="$parent.detailsSet")
        span.glyphicon.glyphicon-calendar
      date-picker(ng-model="$parent.invoiceDate" ng-show="$parent.showDatePicker", on-date-selected="dateEntered()")
    div.form-group
      | &nbsp
      label(for="total") Total
      | &nbsp
      input.form-control(type="number" step="any" ng-model="$parent.total" ng-disabled="$parent.detailsSet")
    div.form-group
      | &nbsp
      button.btn.btn-info.form-control(ng-click="$parent.setDetails()" ng-if="!$parent.detailsSet") Set Details
      | &nbsp
      button.btn.btn-warning.form-control(type="button" ng-click="$parent.setDetails()" ng-if="$parent.detailsSet" ng-enabled="!$parent.invoiceItemsAdded") Change Details
    div.form-group.pull-right
      button.btn.btn-primary.form-control(type="button" ng-click="$parent.finishInvoice()" ng-disabled="!$parent.detailsSet" ng-show="!$parent.currentInvoice.done") Finish Invoice
      button.btn.btn-warning.form-control(type="button" ng-click="$parent.finishInvoice()" ng-disabled="!$parent.detailsSet" ng-show="$parent.currentInvoice.done") Unlock Invoice
      
