div.invoiceAddForm.well#addForm(role="form", ng-controller="mvManagerLeftCtrl")
	form.form-horizontal
		div.form-group
			label Add Products to Invoice
			button.btn.btn-info.form-control(type="button" data-toggle="modal" data-target="#productsModal" ng-click="selectProduct()" ng-disabled="!$parent.detailsSet") Select a Product
			button.btn.btn-default.form-control(type="button"  ng-click="resetStatus()") Reset
		div.form-group
			label Product Code
			div.input-group
				input.form-control(type="text" ng-model="selectedProduct.productCode" placeholder="Enter product code" ng-disabled="!productCodeChecked" ng-readonly="!newProduct" ng-if="productCodeChecked")
				input.form-control(type="text" value="Generating product code... " ng-readonly="true" ng-if="!productCodeChecked")
				span.input-group-addon
					input(type="checkbox" ng-model="productCodeChecked" ng-disabled="!newProduct")
		div.form-group
			label(for="prodDesc") Description
			input.form-control#prodDesc(type="text" ng-model="selectedProduct.description" placeholder="Enter Name/Description" required)
		div.form-group
			label(for="prodPack") Packsize
			div.input-group
				input.form-control(type="text" ng-model="selectedProduct.packsize" placeholder="Enter packsize..." ng-if="packsizeChecked")
				input.form-control(type="text" value="Not provided... " ng-readonly="true" ng-if="!packsizeChecked")
				span.input-group-addon
					input(type="checkbox" ng-model="packsizeChecked")
		div.form-group
			label Packsize Interpreted?
				| &nbsp
				| &nbsp
				span.glyphicon.glyphicon-ok(ng-if="interpreted" aria-hidden="true")
				span.glyphicon.glyphicon-remove(ng-if="!interpreted" aria-hidden="true")
			button.btn.btn-info.form-control(type="button" ng-click="interpretPacksize(selectedProduct.description, selectedProduct.packsize)" ng-if="!interpreted", ng-disabled="!$parent.detailsSet") Enter Packsize Details
			button.btn.btn-info.form-control(type="button" ng-click="interpretPacksize(selectedProduct.description, selectedProduct.packsize)" ng-if="interpreted", ng-disabled="!$parent.detailsSet") Update Packsize Details
		div.form-group
			label(for="qty") Quantity
			input.form-control(type="text" ng-model="selectedProduct.qty" placeholder="Quantity" required)
		div.form-group
			label(for="total") Total Paid
			input.form-control(type="text" ng-model="selectedProduct.totalPaid" placeholder="Total paid" required)
		div.form-group
			label Unit Price:
				span(ng-if="selectedProduct.totalPaid") {{selectedProduct.totalPaid / selectedProduct.qty | number:2}}
		div.form-group
			button.btn.btn-primary.form-control(type="submit" ng-click="addProduct()" ng-disabled="!$parent.detailsSet") Add Product
