.container
	h1.page-header Compare Products
	.col-md-3.col-md-offset-1
		p Your product
		div(ng-include="'/partials/productComparison/product-info'")
	.col-md-2.col-md-offset-1
		p Results
	.col-md-3.col-md-offset-1
		p Product in DB
		div(ng-include="'/partials/productComparison/product-info'")
