.container
	h1 Import files
	.row
		.col-md-6
			.panel.panel-primary
				.panel-heading
					h3 Sales Reports
				.panel-body
					form#uploadSales.form(enctype="multipart/form-data")
						.form-group
							input.form-control(type="text", value="{{files[0].name}}", placeholder="Select a file..." disabled)
						| &nbsp
						button.btn.btn-info(ng-file-select ng-model="files") Select file
						| &nbsp
						button.btn.btn-success.pull-right(ng-click="create()", type="submit") Upload
						p {{files}}
				.panel-footer
					h4 Footer
		.col-md-6
			.panel.panel-primary
				.panel-heading
					h3 Price File
				.panel-body
					p Import a Price File
				.panel-footer
					h4 Footer
