.container
	.row
		h1.page-header Industries
			| &nbsp
			button.btn.btn-primary(ng-click="add()") New Industry
	//.row
		//p Debug: {{recordCopy | json}}		
	div(ng-if="!adding")
		form.form-inline
			.form-group
				input.form-control(type="text", placeholder="Search...", ng-model="searchText")
			button.btn.btn-default(type="button", ng-click="searchText = ''") Clear
			br
		
		table.table.table-striped.table-hover.table-responsive
			thead
				th Id
				th Name
				th Note
				th
				th
			tbody
				tr(ng-repeat="record in records | filter:searchText")
					td {{record.id}}
					td 
						span(ng-if="!record.editing") 
							| {{record.name}}
						span(ng-if="record.editing")
							input#name.input-sm.small-grid-input(type="text", ng-model="record.name", required)
					td 
						span(ng-if="!record.editing") 
							| {{record.note}}
						span(ng-if="record.editing")
							input#note.input-sm.small-grid-input(type="text",  ng-model="record.note")
					td(ng-if="!record.editing")
						button.btn.btn-sm.btn-danger(ng-click="delete(record)") Delete
					td(ng-if="!record.editing")
							button.btn.btn-sm.btn-primary(ng-click="edit(record)") Edit
					td(ng-if="record.editing")
							button.btn.btn-sm.btn-default(ng-click="cancel(record)") Cancel
					td(ng-if="record.editing")
							button.btn.btn-sm.btn-success(ng-click="update(record)") Save
	
	div(ng-if="adding", ng-include="'/partials/industry/industry-add'")
		
	
