.container.modalWidth(ng-controller="mvSupplierAddCtrl")
	h3 Add Supplier
	form
		.form-group 
			label Name
			input.form-control(type="text", ng-model="name")
		.form-group
			label Note
			input.form-control(type="text", ng-model="note")
		.form-group
			label Rebate
			div.input-group
				input.form-control(type="number", ng-model="rebate")
				span.input-group-addon %
		.form-group
			button.btn.btn-success.pull-right(ng-click="create()", type="submit") Create
			button.btn.btn-default.pull-right(ng-click="cancel()", type="button") Cancel
