.container
	.row
		p Debug: {{recordCopy | json}}
	div
		form.form-inline
			.form-group
				input.form-control(type="text", placeholder="Search...", ng-model="searchText")
			.form-group
				button.btn.btn-default(type="button", ng-click="searchText = ''") Clear
		div.listHeight-sm
			| &nbsp
			table.table.table-striped.table-hover.table-responsive
				thead
					th Code
					th Description
					th Packsize
					th Qty
					th Price
					th
				tbody
					tr(ng-repeat="record in records | filter:searchText", ng-click="selectItem(record)", ng-class="{success: selected(record)}" )
						td {{record.product.productCode}}
						td {{record.description}}
						td {{record.packsize}}
						td {{record.qty}}
						td {{record.price.value | number:2}}
						td
							button.btn.btn-sm.btn-danger(ng-click="delete(record)") Delete
