doctype
html
  head
    title One Cost App
    base(href="/")
    link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="/vendor/toastr/toastr.css")
    link(rel="stylesheet", href="/vendor/angular-date-picker/angular-date-picker.css")
    link(rel="stylesheet", href="/vendor/angular-chart.js/dist/angular-chart.css")
    link(rel="stylesheet", href="/css/site.css")
  body(ng-app='app')
    include currentUser
    block main-content
    include scripts
