script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="/vendor/toastr/toastr.js")
//script(src="https://cdn.socket.io/socket.io-1.3.4.js")
script(type="text/javascript", src="./socket.io/socket.io.js")
script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/vendor/ng-file-upload/angular-file-upload-shim.js")
script(type="text/javascript", src="/vendor/ng-file-upload/angular-file-upload.min.js")
script(type="text/javascript", src="/vendor/angular-bootstrap/ui-bootstrap-tpls.js")
script(type="text/javascript", src="/vendor/angular-date-picker/angular-date-picker.js")
script(type="text/javascript", src="/vendor/Chart.js/Chart.js")
script(type="text/javascript", src="/vendor/angular-chart.js/dist/angular-chart.js")
script(type="text/javascript", src="/vendor/ng-socket-io/ng-socket-io.js")
script(type="text/javascript", src="/vendor/spin.js/spin.js")
script(type="text/javascript", src="/vendor/angular-spinner/angular-spinner.js")
script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/main/mvMainCtrl.js")
script(type="text/javascript", src="/app/account/mvNavBarLoginCtrl.js")
script(type="text/javascript", src="/app/account/mvIdentity.js")
script(type="text/javascript", src="/app/common/mvNotifier.js")
script(type="text/javascript", src="/app/common/mvSpinner.js")
script(type="text/javascript", src="/app/account/mvAuth.js")
script(type="text/javascript", src="/app/account/mvUser.js")
script(type="text/javascript", src="/app/account/mvSignupCtrl.js")
script(type="text/javascript", src="/app/account/mvProfileCtrl.js")
script(type="text/javascript", src="/app/admin/mvUserListCtrl.js")
script(type="text/javascript", src="/app/client/mvClient.js")
script(type="text/javascript", src="/app/client/mvClientListCtrl.js")
script(type="text/javascript", src="/app/client/mvClientAddCtrl.js")
script(type="text/javascript", src="/app/client/mvClientService.js")
script(type="text/javascript", src="/app/client/mvClientViewCtrl.js")
script(type="text/javascript", src="/app/clientManager/mvClientManagerCtrl.js")
script(type="text/javascript", src="/app/clientgroup/mvClientGroup.js")
script(type="text/javascript", src="/app/clientgroup/mvClientGroupListCtrl.js")
script(type="text/javascript", src="/app/clientgroup/mvClientGroupAddCtrl.js")
script(type="text/javascript", src="/app/clientgroup/mvClientGroupService.js")
script(type="text/javascript", src="/app/industry/mvIndustry.js")
script(type="text/javascript", src="/app/industry/mvIndustryListCtrl.js")
script(type="text/javascript", src="/app/industry/mvIndustryAddCtrl.js")
script(type="text/javascript", src="/app/industry/mvIndustryService.js")
script(type="text/javascript", src="/app/location/mvLocation.js")
script(type="text/javascript", src="/app/location/mvLocationListCtrl.js")
script(type="text/javascript", src="/app/location/mvLocationAddCtrl.js")
script(type="text/javascript", src="/app/location/mvLocationService.js")
script(type="text/javascript", src="/app/county/mvCounty.js")
script(type="text/javascript", src="/app/county/mvCountyListCtrl.js")
script(type="text/javascript", src="/app/county/mvCountyAddCtrl.js")
script(type="text/javascript", src="/app/county/mvCountyService.js")
script(type="text/javascript", src="/app/ccs/mvCC.js")
script(type="text/javascript", src="/app/ccs/mvCCListCtrl.js")
script(type="text/javascript", src="/app/ccs/mvCCAddCtrl.js")
script(type="text/javascript", src="/app/ccs/mvCCManagerCtrl.js")
script(type="text/javascript", src="/app/ccs/mvCCService.js")
script(type="text/javascript", src="/app/invoice/mvInvoice.js")
script(type="text/javascript", src="/app/invoice/mvInvoiceListCtrl.js")
script(type="text/javascript", src="/app/invoice/mvInvoiceAddCtrl.js")
script(type="text/javascript", src="/app/invoice/mvInvoiceService.js")
script(type="text/javascript", src="/app/product/mvProduct.js")
script(type="text/javascript", src="/app/product/mvProductService.js")
script(type="text/javascript", src="/app/product/mvProductListCtrl.js")
script(type="text/javascript", src="/app/product/mvProductWidgetCtrl.js")
script(type="text/javascript", src="/app/product/mvProductMeasureAddCtrl.js")
script(type="text/javascript", src="/app/productDetail/mvProductDetail.js")
script(type="text/javascript", src="/app/productDetail/mvProductDetailService.js")
script(type="text/javascript", src="/app/supplier/mvSupplier.js")
script(type="text/javascript", src="/app/supplier/mvSupplierListCtrl.js")
script(type="text/javascript", src="/app/supplier/mvSupplierAddCtrl.js")
script(type="text/javascript", src="/app/supplier/mvSupplierService.js")
script(type="text/javascript", src="/app/invoiceItem/mvInvoiceItem.js")
script(type="text/javascript", src="/app/invoiceItem/mvInvoiceItemListCtrl.js")
script(type="text/javascript", src="/app/invoiceItem/mvInvoiceItemService.js")
script(type="text/javascript", src="/app/invoiceItem/mvInvoiceItemInCCCtrl.js")
script(type="text/javascript", src="/app/invoiceManager/mvInvoiceManagerCtrl.js")
script(type="text/javascript", src="/app/invoiceManager/mvManagerLeftCtrl.js")
script(type="text/javascript", src="/app/measure/mvMeasure.js")
script(type="text/javascript", src="/app/price/mvPrice.js")
script(type="text/javascript", src="/app/productComparison/mvProductComparisonCtrl.js")
script(type="text/javascript", src="/app/productMatcher/mvProductMatch.js")
script(type="text/javascript", src="/app/productMatcher/mvProductMatcherCtrl.js")
script(type="text/javascript", src="/app/productMatcher/mvInvoiceItemListMatcherCtrl.js")
script(type="text/javascript", src="/app/productMatcher/mvProductFinderCtrl.js")
script(type="text/javascript", src="/app/productMatcher/mvMatchListCtrl.js")
script(type="text/javascript", src="/app/sale/mvSalesTrackerCtrl.js")
script(type="text/javascript", src="/app/import/mvImportMainCtrl.js")
