.container
	.row.col-md-6
		div.col-md-6
			h2 Clients
			form.form-inline
				.form-group
					input.form-control(type="text", placeholder="Search...", ng-model="searchText")
				button.btn.btn-default(type="button", ng-click="clearSearch()") Clear
				br
				div.limitedListHeight(name="clientList")
					a.list-group-item(ng-repeat="client in clients | filter:searchText", ng-click="selectClient(client)", ng-class="{active: (currentRecord == client)}") {{client.name}}
				br
		div.col-md-6
			h2 Suppliers
			p Hello
	.row.col-md-6
		p some stuff here
			| and more
			| more
	
	
	
	.row.col-md-12(ng-if="currentRecord")
		br
		div(role="tabpanel")
			ul.nav.nav-tabs(role="tablist" id="clientTabs")
				li(role="presentation", ng-class="{active: (selectedTab == 'detailsTab')}")
					a(role="tab", ng-click="selectTab('detailsTab')") Details
				li(role="presentation", ng-class="{active: (selectedTab == 'updateTab')}")
					a(role="tab", ng-click="selectTab('updateTab')") Update
				li(role="presentation", ng-class="{active: (selectedTab == 'addTab')}")
					a(role="tab") Add
			div(ng-include="'/partials/client/client-view'", id="detailsTab", ng-show="selectedTab == 'detailsTab'")
			div(ng-include="'/partials/client/client-update'", id="updateTab", ng-show="selectedTab == 'updateTab'")

	
