.container(ng-controller="mvClientGroupAddCtrl")
	h3 Client Group Details
	form
		.row.col-md-3
		.row.col-md-6
			form-group
				label Name
				input.form-control(type="text", ng-model="name", required)
			form-group
				label Note
				input.form-control(type="text", ng-model="note")
			br
			button.btn.btn-success.pull-right(ng-click="create()", type="submit") Add
			button.btn.btn-default.pull-right(ng-click="cancel()", type="button") Cancel
