.container#invoiceList.widget(ng-controller="mvInvoiceListCtrl")
	//div.row
		//p Debug: {{recordCopy | json}}
	div
		form.form-inline
			.form-group
				input.form-control(type="text", placeholder="Search...", ng-model="searchText")
			button.btn.btn-default(type="button", ng-click="searchText = ''") Clear
	| &nbsp
	div.listHeight
		table.table.table-striped.table-hover
			thead
				th Date
				th Note
				th Image
				th Supplier
				th Total
				th Done
				th
			tbody
				tr(ng-repeat="record in records | filter:searchText | filter:{ccId: $parent.ccId} | orderBy:'-id'")
					td {{record.date | date}}
					td
						span(ng-if="!record.editing") 
							| {{record.note}}
						span(ng-if="record.editing")
							input#note.input-sm.small-grid-input(type="text",  ng-model="record.note")
					td {{record.imageName}}
					td {{getSupplierName(record.supplierId)}}
					td {{record.total}}
					td
						span.glyphicon.glyphicon-ok(ng-if="record.done" aria-hidden="true")
						span.glyphicon.glyphicon-remove(ng-if="!record.done" aria-hidden="true")
					td(ng-if="!record.editing")
						button.btn.btn-sm.btn-danger(ng-click="delete(record)") Delete
						button.btn.btn-sm.btn-primary(ng-click="edit(record)") Edit
						a.btn.btn-sm.btn-info(ng-href="/ccs/{{$parent.ccId}}/ccmanager/invoices/{{record.id}}/invoicemanager") Select
					
					td(ng-if="record.editing")
							button.btn.btn-sm.btn-default(ng-click="cancel(record)") Cancel
							button.btn.btn-sm.btn-success(ng-click="update(record)") Save
					
