.container(ng-controller="mvInvoiceAddCtrl")
	h4 Add Invoice
	form#addClientForm.form-inline(enctype="multipart/form-data")
		//.form-group
		input.form-control(type="hidden", ng-model="ccId" disabled)
		.form-group
			input.form-control(type="text", ng-model="date", placeholder="Enter date...")
			| &nbsp
		.form-group
			button.btn.btn-default(ng-click="toggleDatePicker()")
				span.glyphicon.glyphicon-calendar
			date-picker(ng-model="date" ng-show="showDatePicker", on-date-selected="dateEntered()")
			| &nbsp
		.form-group
			input.form-control(type="text", ng-model="note", placeholder="Notes...")
			| &nbsp
		.form-group
			input.form-control(type="text", value="{{files[0].name}}", placeholder="Selected Image..." disabled)
			| &nbsp
		button.btn.btn-info(ng-file-select ng-model="files") Select Image
		| &nbsp
		button.btn.btn-success(ng-click="create()", type="submit") Add
		
