.container#invoiceList(ng-controller="mvInvoiceListCtrl")
	div.row
		p Debug: {{recordCopy | json}}
	div
		form.form-inline
			.form-group
				input.form-control(type="text", placeholder="Search...", ng-model="searchText")
			button.btn.btn-default(type="button", ng-click="searchText = ''") Clear
			br
		
		table.table.table-striped.table-hover
			thead
				//th Id
				th Date
				th Note
				th Image
				th Supplier
				//th User
				//th CC
				th
			tbody
				tr(ng-repeat="record in records | filter:searchText | filter:{ccId: $parent.ccId} | orderBy:'-id'")
					//td {{record.id}}
					td 
						span(ng-if="!record.editing") 
							| {{record.date | date}}
						span(ng-if="record.editing")
							input.input-sm.small-grid-input(type="text", ng-model="record.date")
					td 
						span(ng-if="!record.editing") 
							| {{record.note}}
						span(ng-if="record.editing")
							input#note.input-sm.small-grid-input(type="text",  ng-model="record.note")
					td {{record.imageName}}
					td SupplierId here
						
							
					//
						td 
							span(ng-if="!record.editing") 
								| {{record.userId}}
							span(ng-if="record.editing")
								//input#note.input-sm.small-grid-input(type="text",  ng-model="record.note")
						td 
							span(ng-if="!record.editing") 
								| {{record.ccId}}
							span(ng-if="record.editing")
								//input#note.input-sm.small-grid-input(type="text",  ng-model="record.note")
					
					td(ng-if="!record.editing")
						button.btn.btn-sm.btn-danger(ng-click="delete(record)") Delete
						button.btn.btn-sm.btn-primary(ng-click="edit(record)") Edit
						a.btn.btn-sm.btn-info(ng-href="/ccs/{{$parent.ccId}}/ccmanager/invoices/{{record.id}}") Select
					//td(ng-if="!record.editing")		
					td(ng-if="record.editing")
							button.btn.btn-sm.btn-default(ng-click="cancel(record)") Cancel
							button.btn.btn-sm.btn-success(ng-click="update(record)") Save
					//td(ng-if="record.editing")
							
					//td(ng-if="!record.editing")
						
					//td(ng-if="record.editing")
