.container#invoiceList(ng-controller="mvInvoiceListCtrl")
	div.row
		p Debug: {{recordCopy | json}}
	div.row
		form.form-inline
			.form-group
				input.form-control(type="text", placeholder="Search...", ng-model="searchText")
			button.btn.btn-default(type="button", ng-click="searchText = ''") Clear
			br
	div.row
		div.col-md-1
			p Date
		div.col-md-2 
			p Note
		div.col-md-2 
			p Image
		div.col-md-3
			p Supplier
	div.limitedList
		div(name="invoiceList")
			a.list-group-item(ng-repeat="record in records | filter:searchText", ng-class="{active: (selectedRecord == record)}")
				input.input-sm.short-input(type="text", ng-model="record.date", ng-class="{readonly: !record.editing}")
				input#note.input-sm.small-grid-input(type="text",  ng-model="record.note", ng-class="{readonly: !record.editing}")
				| {{record.imageName}}
				span(ng-if="!record.editing")
					button.btn.btn-sm.btn-danger(ng-click="delete(record)") Delete
					button.btn.btn-sm.btn-primary(ng-click="edit(record)") Edit
					a.btn.btn-sm.btn-info(ng-href="/ccs/{{$parent.ccId}}/ccmanager/invoices/{{record.id}}") Select
				span(ng-if="record.editing")
					button.btn.btn-sm.btn-default(ng-click="cancel(record)") Cancel
					button.btn.btn-sm.btn-success(ng-click="update(record)") Save
				
